:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #212121;
  --second-color: #757575;
  --hover-color: #2196f3;
  --icon-color: #afb1b8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-sub {
  padding-top: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

body {
  font-family: var(--main-font);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ============== Шапка сайта ============= */
.web-logo-top {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}

.studio-logo-top {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus,
.active {
  color: var(--hover-color);
}

.active {
  position: relative;
}

.active::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  display: block;
  background: var(--hover-color);
  border-radius: 2px;
}

.mail-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-link:hover,
.mail-link:focus {
  color: var(--hover-color);
}

.tel-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--hover-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.head-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-link {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-icons-mail {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-icons-tel {
  margin-right: 10px;
  fill: currentColor;
}

/* ========== END Шапка сайта =============  */

/* ============== Герой ============= */
.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text {
  width: 696px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-btn {
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--hover-color);
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--hover-color);
  color: #ffffff;
  cursor: pointer;
  padding: 10px 32px;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
}
/* ============== END Герой ============= */

/* ============== Особенности ============= */

.features-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-list {
  display: flex;
  justify-content: center;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-list-item-head {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.features-list-item-description {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* ============== END Особенности ============= */

/* ============== Чем Занимаемся ============= */

.doing-head {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.doing-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.doing-list-item {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
}

.doing-list-item-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/* ============== END Чем Занимаемся ============= */

/* ============== Наша команда ============= */
.team {
  background: #f5f4fa;
}

.team-head {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team-list-item {
  margin-top: 30px;
  margin-left: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item-container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-list-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-list-item-subtext {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--hover-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

/* ============== END Наша команда ============= */

/* ============== Постоянные клиенты ============= */

.our-clients-head {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}
.our-clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.our-clients-item {
  width: 170px;
  height: 92px;
  margin-top: 30px;
  margin-left: 30px;
}
.our-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-link:hover,
.our-clients-link:focus {
  background-color: #ffffff;
  border-color: var(--hover-color);
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.our-clients-link:hover .our-clients-icon,
.our-clients-link:focus .our-clients-icon {
  fill: var(--hover-color);
  /* transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* ============== END Постоянные клиенты ============= */

/* ============== Футер ============= */
.footer-main {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-link {
  margin-bottom: 30px;
}

.link-f {
  text-decoration: none;
}
.web-logo-bot {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}

.studio-logo-bot {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.adress-bot {
  width: 231px;
  font-style: 400;
  margin-top: 20px;
}
.contacts-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.contacts-list-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contacts-list-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contacts-list-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-join-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.adress-container {
  margin-right: 70px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--hover-color);
}

.footer-social-list-link:hover .footer-social-list-icon,
.footer-social-list-link:focus .footer-social-list-icon {
  fill: #ffffff;
}

.footer-form {
  display: flex;
  margin-left: 93px;
}

.footer-form-field {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form-input {
  width: 100%;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  margin-top: 20px;
  outline: none;
}

.footer-form-input:focus {
  border-color: var(--hover-color);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn {
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--hover-color);
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-self: flex-end;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--hover-color);
  color: #ffffff;
  cursor: pointer;
  padding: 10px 28px;
  margin-left: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-icon {
  margin-left: 10px;
}

/* ============== END Футер ============= */

/* ============== Портфолио ============= */

.nav-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.nav-btn-item:not(:last-child) {
  margin-right: 8px;
}

.nav-btn {
  border: none;
  padding: 6px 22px 6px 22px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-btn:hover,
.nav-btn:focus {
  color: #ffffff;
  background: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
projects-item {
  font-family: var(--secondary-font);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-item {
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
}

.projects-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-link:hover .projects-overlay,
.projects-link:focus .projects-overlay {
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-wrapper {
  position: relative;
  overflow: hidden;
}

.projects-overlay {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #ffffff;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  box-sizing: border-box;
}
.projects-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.projects-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
/* ============== END Портфолио ============= */

/* ============= MODAL WINDOW ============= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.modal-close-btn:hover .modal-btn-icon {
  fill: var(--hover-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-head {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-field {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color);
  margin-bottom: 10px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
}

.modal-form-input:focus {
  border-color: var(--hover-color);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--hover-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  cursor: pointer;
}

.modal-form-message::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--hover-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox {
  position: relative;
}
.modal-form-checkbox-policy::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  cursor: pointer;
  margin-right: 7px;
  border: 2px solid var(--main-color);
  border-radius: 3px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox-policy {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.modal-form-checkbox:checked + .modal-form-checkbox-policy::before {
  background-image: url(../images/check-form.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

.modal-form-checkbox:focus + .modal-form-checkbox-policy::before {
  border-color: var(--hover-color);
}

.modal-form-policy-link {
  color: var(--hover-color);
}

.modal-form-btn {
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--hover-color);
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--hover-color);
  color: #ffffff;
  cursor: pointer;
  padding: 10px 55px;
  margin-top: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #188ce8;
}
/* ============= END MODAL WINDOW ============= */
