.features__list {
  display: flex;
  margin: 0;
  padding-left: 0;
  .features__item {
    width: 270px;
  }
  .features__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .features__description {
    color: $secondColor;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__thumb {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  .features__icon {
    width: 70px;
    height: 70px;
  }
}

@media screen and(max-width:1199px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -30px 0 0 -30px;
    .features__item {
      margin: 30px 0 0 30px;
      width: 354px;
    }
  }
  .features__thumb {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .features__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    .features__item {
      margin: 0;
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    .features__title {
      text-align: center;
    }
  }
  .features__thumb {
    width: 100%;
  }
}
