.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.address__container {
  padding: 0 0;
}

.footer__sections {
  display: flex;
  align-items: baseline;
}

.footer__tablet-container {
  display: flex;
  align-items: baseline;
  margin-right: 93px;
}

@media screen and (max-width: 1199px) {
  .footer {
    width: 100%;
    .footer__sections {
      flex-direction: column;
    }
    .footer__tablet-container {
      align-self: center;
      justify-content: space-around;
      margin: 0;
      .join__container {
        margin: 0;
      }
    }
    .address__container {
      margin-right: 165px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    .footer__sections {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .footer__tablet-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;
    }
    .address__container {
      margin: 0;
      margin-bottom: 60px;
    }
  }
}
